.form{
	width: 250px;
	
	margin: auto;

	border: 1px solid #8FAFFF;

	background-color: #6D6D6D;
}

.form-head, .form-body{
	text-align: center;
}

.form-body{
	padding: 10px;
}

.form-body > div > button{
	margin: 10px;
}