.forum{
	position: absolute;

	width: 90%;
	height: 91%;

	margin-left: 5%;
	margin-right: 5%;

	background-color: #535353;

	overflow: auto;
}

.forum-body-head{
	padding: 10px 20px 10px 20px;

	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px;
	border-color: #A0A0A0;
	border-style: solid;

	color: #829FFF;
}

.forum-body{
	padding: 20px 20px 20px 20px;

	color: #EDEDED;
}

.forum-nav > div{
	padding: 10px 15px 10px 15px;

	display: inline-block;

	cursor: pointer;

	transition: background-color 0.2s, color 0.2s;
}

.forum-nav > div:hover{
	background-color: #6D6D6D;
	color: #EDEDED;
}

.forum-section{
	padding: 0px 10px 0px 10px;
	margin-top: 10px;
	margin-bottom: 10px;

	border: 1px solid #A0A0A0;

	height: 100px;

	cursor: pointer;

	transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.forum-thread{
	padding: 0px 20px 0px 20px;
	margin-top: 10px;
	margin-bottom: 10px;

	cursor: pointer;

	border: 1px solid #A0A0A0;

	transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.forum-section:hover, .forum-thread:hover{
	background-color: #6D6D6D;
	border-color: #8FAFFF;
	color: #829FFF;
}

.forum-section > img{
	width: 120px;
	height: 48px;

	float: left;
	clear: right;
}