.forum-head{
	width: 90%;

	margin-left: 5%;
	margin-right: 5%;

	background-color: #383838;
}

.forum-head-body > div, .forum-head-button{
	display: inline-block;
}

.forum-logo{
	cursor: pointer;
}

.forum-head-button-section{
	position: absolute;

	top: 0px;
}

.forum-head-button{
	text-align: center;
	font-size: 36px;

	padding: 20px;

	color: #DFDFDF;

	cursor: default;

	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  	user-select: none;

	transition: background-color 0.2s, color 0.2s;
}

.forum-head-button:hover{
	background-color: #535353;
	color: #829FFF;
}