.thread-form{
	width: 700px;
	
	margin: auto;

	border: 1px solid #8FAFFF;

	background-color: #6D6D6D;
}

.thread-form-head, .thread-form-body{
	text-align: center;
}

.thread-form-body{
	padding: 10px;
}

.thread-form-body > div > button{
	margin: 10px;
}