.thread{
	border: 1px solid #8FAFFF;

	padding: 15px;

	background-color: #818181;

	height: 700px;

	overflow: auto;
}

.thread-op > h3{
	margin-top: 0px;

	display: inline-block;
}

.thread-op > p{
	margin-top: 0px;
}

.thread-comment > p > h3{
	display: inline-block;
}

.thread-comment-options{
	padding: 10px;

	text-align: right;

	border-top: 2px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	border-color: white;
	border-style: solid;

	padding-bottom: 15px;
}

.thread-op > span > p > span{
	cursor: pointer;
}


.thread-comment{
	border: 1px solid #F0F0F0;

	background-color: #A4A4A4;

	padding: 15px;
	margin: 10px;
}

.thread-comment-options > span{
	margin: 5px;
	padding: 5px;

	cursor: pointer;

	transition: background-color 0.2s, color 0.2s;
}

.thread-comment-options > span:hover{
	border: 1px solid white;

	margin: 4px;

	background-color: #535353;
	color: #829FFF;
}

.thread-post-section{
	border-top: 2px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	border-color: white;
	border-style: solid;

	padding-bottom: 15px;
}

.thread-post-section > textarea{
	width: 75%;
	height: 200px;
}